src/test/resources/soap/customerBaseRegistrationAddress.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.ws.md.tlabs.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CustomerBaseRegistrationSN" targetNamespace="http://service.ws.md.tlabs.org/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.ws.md.tlabs.org/" elementFormDefault="unqualified" targetNamespace="http://service.ws.md.tlabs.org/" version="1.0">

  <xs:element name="newRegistrationOpN" type="tns:newRegistrationOpN"/>

  <xs:element name="newRegistrationOpNResponse" type="tns:newRegistrationOpNResponse"/>

  <xs:complexType name="newRegistrationOpN">
    <xs:sequence>
      <xs:element minOccurs="0" name="userRegistrationRequest" type="tns:newUserRegistrationRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="newUserRegistrationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="personalContact" type="tns:personalContactDTO"/>
      <xs:element minOccurs="0" name="personalCredential" type="tns:personalCredentialDTO"/>
      <xs:element minOccurs="0" name="personalData" type="tns:personalDataDTO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="personalContactDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="emailAddress" type="xs:string"/>
      <xs:element minOccurs="0" name="mobilePhoneNumber" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="personalCredentialDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="personalDataDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="birthDate" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="surname" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="newRegistrationOpNResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:newUserRegistrationResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="newUserRegistrationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="activationCode" type="xs:string"/>
      <xs:element minOccurs="0" name="activationLink" type="xs:anyURI"/>
      <xs:element minOccurs="0" name="messageInfo" type="xs:string"/>
      <xs:element minOccurs="0" name="operationCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="newRegistrationOpN">
    <wsdl:part element="tns:newRegistrationOpN" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="newRegistrationOpNResponse">
    <wsdl:part element="tns:newRegistrationOpNResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CustomerBaseRegistrationN">
    <wsdl:operation name="newRegistrationOpN">
      <wsdl:input message="tns:newRegistrationOpN" name="newRegistrationOpN">
    </wsdl:input>
      <wsdl:output message="tns:newRegistrationOpNResponse" name="newRegistrationOpNResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerBaseRegistrationSNSoapBinding" type="tns:CustomerBaseRegistrationN">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="newRegistrationOpN">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="newRegistrationOpN">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="newRegistrationOpNResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerBaseRegistrationSN">
    <wsdl:port binding="tns:CustomerBaseRegistrationSNSoapBinding" name="CustomerBaseRegistrationPN">
      <soap:address location="http://localhost:8181/cxf/customerBaseRegistrationAddress"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>