src/test/resources/soap/customerBaseGeneralAddress.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.ws.ptl.md.tlabs.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CustomerBaseGeneralSN" targetNamespace="http://service.ws.ptl.md.tlabs.org/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.ws.ptl.md.tlabs.org/" targetNamespace="http://service.ws.ptl.md.tlabs.org/" version="1.0">

  <xs:element name="activationAccountRequest" type="tns:activationAccountRequest"/>

  <xs:element name="activationAccountResponse" type="tns:activationAccountResponse"/>

  <xs:complexType name="activationAccountRequest">
    <xs:sequence>
      <xs:element name="activationCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="activationAccountResponse">
    <xs:sequence>
      <xs:element name="operationCode" type="xs:string"/>
      <xs:element minOccurs="0" name="systemMessage" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="accountActivationResponse">
    <wsdl:part name="activationAccountResponse" type="tns:activationAccountResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="accountActivation">
    <wsdl:part name="activationAccountRequest" type="tns:activationAccountRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CustomerBaseGeneralN">
    <wsdl:operation name="accountActivation">
      <wsdl:input message="tns:accountActivation" name="accountActivation">
    </wsdl:input>
      <wsdl:output message="tns:accountActivationResponse" name="accountActivationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerBaseGeneralSNSoapBinding" type="tns:CustomerBaseGeneralN">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="accountActivation">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="accountActivation">
        <soap:body namespace="http://service.ws.ptl.md.tlabs.org/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="accountActivationResponse">
        <soap:body namespace="http://service.ws.ptl.md.tlabs.org/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerBaseGeneralSN">
    <wsdl:port binding="tns:CustomerBaseGeneralSNSoapBinding" name="CustomerBaseGeneralPN">
      <soap:address location="http://localhost:8888/tlabs-md-cbs/customerBaseGeneralAddress"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>