src/test/resources/soap/CustomerBaseManagerWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soap.ws.ptl.md.tlabs.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CustomerBaseManagerWs" targetNamespace="http://soap.ws.ptl.md.tlabs.org/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://soap.ws.ptl.md.tlabs.org/" targetNamespace="md-poc.tlabs.org" version="1.0">

  <xs:import namespace="http://soap.ws.ptl.md.tlabs.org/"/>

  <xs:element name="personalContact" type="ns1:personalContactDTO"/>

  <xs:element name="personalCredential" type="ns1:personalCredentialDTO"/>

  <xs:element name="personalData" type="ns1:personalDataDTO"/>

  <xs:element name="userRegistrationRequest" type="ns1:newUserRegistrationRequest"/>

  <xs:element name="userRegistrationResponse" type="ns1:newUserRegistrationResponse"/>






</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soap.ws.ptl.md.tlabs.org/" xmlns:ns1="md-poc.tlabs.org" targetNamespace="http://soap.ws.ptl.md.tlabs.org/" version="1.0">

  <xs:import namespace="md-poc.tlabs.org"/>

  <xs:complexType name="newUserRegistrationRequest">
    <xs:sequence>
      <xs:element name="personalData" type="tns:personalDataDTO"/>
      <xs:element name="personalContact" type="tns:personalContactDTO"/>
      <xs:element name="personalCredential" type="tns:personalCredentialDTO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="personalDataDTO">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="surname" type="xs:string"/>
      <xs:element name="birthDate" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="personalContactDTO">
    <xs:sequence>
      <xs:element name="emailAddress" type="xs:string"/>
      <xs:element minOccurs="0" name="mobilePhoneNumber" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="personalCredentialDTO">
    <xs:sequence>
      <xs:element name="username" type="xs:string"/>
      <xs:element name="password" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="newUserRegistrationResponse">
    <xs:sequence>
      <xs:element name="operationCode" type="xs:string"/>
      <xs:element minOccurs="0" name="systemMessage" type="xs:string"/>
      <xs:element minOccurs="0" name="accountActivationLink" type="xs:anyURI"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="newUserRegistration">
    <wsdl:part name="userRegistrationRequest" type="tns:newUserRegistrationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="newUserRegistrationResponse">
    <wsdl:part name="userRegistrationResponse" type="tns:newUserRegistrationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CustomerBaseWs">
    <wsdl:operation name="newUserRegistration">
      <wsdl:input message="tns:newUserRegistration" name="newUserRegistration">
    </wsdl:input>
      <wsdl:output message="tns:newUserRegistrationResponse" name="newUserRegistrationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerBaseManagerWsSoapBinding" type="tns:CustomerBaseWs">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="newUserRegistration">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="newUserRegistration">
        <soap:body namespace="http://soap.ws.ptl.md.tlabs.org/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="newUserRegistrationResponse">
        <soap:body namespace="http://soap.ws.ptl.md.tlabs.org/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerBaseManagerWs">
    <wsdl:port binding="tns:CustomerBaseManagerWsSoapBinding" name="CustomerBaseWsImplPort">
      <soap:address location="http://localhost:8888/tlabs-md-cbs/CustomerBaseManagerWs"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>